nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  div.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a(href="/", class="#{path == 'dashboard' ? 'active' : '' }").nav-link Dashboard
      if(user) 
        li.nav-item
          a(href="/product", class="#{path == 'product' ? 'active' : '' }").nav-link Products
        li.nav-item
          a(href="/category", class="#{path == 'category' ? 'active' : '' }").nav-link Categories 
    ul.navbar-nav.navbar-right.ml-auto
      if(user) 
        li.nav-item
          a(href="/profile", class="#{path == 'profile' ? 'active' : '' }").nav-link Profile
        li.nav-item 
          a(href="/logout").nav-link Logout 
      else
        li.nav-item
          a(href="/login").nav-link Login 