nav.navbar.navbar-expand-lg.navbar-light.bg-light
  div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item
        a(href="/", class="#{path == 'dashboard' ? 'active' : '' }").nav-link Dashboard
      li.nav-item
        a(href="/product" class="#{path == 'product' ? 'active' : '' }").nav-link Products
      li.nav-item
        a(href="/category" class="#{path == 'category' ? 'active' : '' }").nav-link Categories 
    ul.navbar-nav.navbar-right
      li.nav-item
        a(href="/admin/login" class="#{path == 'category' ? 'active' : '' }").nav-link Login 