extends ../layout

block content
  div.container.my-5
    div.row
      div.col-6
        div.card
          div.card-body
            form(method="post")
              div.form-group
                label Name
                input(type="text", name="cat_name", placeholder="Name").form-control
              div.form-group
                div.btn-group
                  button(type="submit", formaction="/category/save").btn.btn-success Save Category