extends ../layout

block content
  div.container.my-5
    div.row
      div.col-6
        div.card
          div.card-body
            form(method="post")
              input(type="hidden", name="id", value="#{category.id}")
              div.form-group
                label Name
                input(type="text", name="cat_name", placeholder="Name", value="#{category.cat_name}").form-control
              div.form-group
                div.btn-group
                  button(type="submit", formaction="/category/update/?id=#{category.id}").btn.btn-primary Update Category
                  button(type="submit", formaction="/category/delete/?id=#{category.id}").btn.btn-danger Delete Category