extends ../layout

block header
  include ../includes/navigation

block content
  div.container.my-5
    div.row
      div.col-6
        div.card
          div.card-body
            form(method="post")
              div.form-group
                label Name
                input(type="text", name="name", placeholder="Name", required).form-control
              div.form-group
                label Price
                input(type="text", name="price", placeholder="Price").form-control
              div.form-group
                label Quantity
                input(type="text", name="quantity", placeholder="Quantity").form-control
              div.form-group
                if(categories.length)
                  label Category
                  select(name="cat_id").form-control
                    option(value="") –
                    for category in categories
                      option(value="#{category.id}") #{category.cat_name}
              div.form-group
                div.btn-group
                  button(type="submit", formaction="/product/save").btn.btn-success Save Product