html, body {
  -webkit-font-smoothing: antialiased;
}

small {
  color: red;
}

img {
  width: 25%;
  height: auto;
}

.button-group {

  input[type="file"] {
    display: none;
    visibility: hidden;
  }

  .button {
    display: inline-block;
    padding: .5em 1em;
    color: white;
    background: linear-gradient(to top, #ff5722, #f44336);
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to top, darken(#ff5722, 10%), darken(#f44336, 10%));
    }
  }
}

.navbar-nav {

  .nav-item {

    .nav-link {
      text-transform: capitalize;
    }
  }
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidebar {
  min-height: 100vh;
  padding: 0;
  background: #eee;

  .nav {

    .nav-link {
      padding: 1em;
      background: #fff;
      border-left: solid 4px red;
    }
  }
}