extends ../layout

block content
  div.row
    div.col-6
      div.card
        div.card-body
          form(method="post")
            div.form-group
              label Name
              input(type="text", name="name", placeholder="Name").form-control
            div.form-group
              label Price
              input(type="text", name="price", placeholder="Price").form-control
            div.form-group
              label Quantity
              input(type="text", name="quantity", placeholder="Quantity").form-control
            div.form-group
              div.btn-group
                button(type="submit", formaction="/products/create").btn.btn-success Create Product