extends layout

block page
  table.table.table-striped
    thead
      th Name
      th Price
    tbody
      each product in products
        tr
          td=product.name
          td=product.price
        