extends layout

block content
  div.row
    each result in results
      div.col
        h3 Highest Prices
        ul.list-group
            each product in result
              li.list-group-item
                a(href="/products/#{product._id}")=product.name + " ($" + product.price + ")"
  div.row.mt-5
    div.col
      canvas#chart-0
    div.col
      canvas#chart-1
block scripts
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
  script(type="text/javascript").
    var charts = [!{charts}];
    for(var i = 0; i < charts.length; i ++) {
      var ctx = document.getElementById('chart-'+i).getContext('2d');
      new Chart(ctx, charts[i]);
    }