extends layout

block content
  div.row
    div.col
      include ./includes/products_low_stock.jade
    div.col
      include ./includes/products_highest_price.jade
  div.row.mt-2
    div.col
      canvas#stock-chart
    div.col
      canvas#price-chart
block scripts
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
  script(type="text/javascript").
    var ctx1 = document.getElementById('stock-chart').getContext('2d');
    new Chart(ctx1, !{stockChart});
    var ctx2 = document.getElementById('price-chart').getContext('2d');
    new Chart(ctx2, !{priceChart});