doctype html
html
  head
    title= siteTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
  body
    block header
    block page
    block footer
    script(type="text/javascript", src="/reload/reload.js")
