doctype html
html
  head
    title #{pageTitle} - #{siteTitle}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/styles.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item
            a(href="/", class="#{path == 'dashboard' ? 'active' : '' }").nav-link Dashboard
          li.nav-item
            a(href="/products" class="#{path == 'products' ? 'active' : '' }").nav-link Products
    div.container.mt-5
      block content
    script(type="text/javascript", src="/reload/reload.js")
