doctype html
html
  head
    title #{pageTitle} - #{siteTitle}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/app.css")
    block css
  body
    header
      include includes/navigation
    main
      block content
    footer
      block footer
    include includes/js
    block js
